.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.headerdiv {
  background-color: #215f8b;
  color: white;
  height: 70px;
  width: auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
}
.logodiv {
  /* float: right;
  height: 70px;
  width: 40px; */
  float: right;
  background-color: white;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: fit-content;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  /* margin-right: 70px; */
}

.logoimg {
  height: 60px;
  width: 150px;
}

.screenHead {
  margin-top: 8px;
  float: left;
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
}
.nav {
  float: right;
  margin-left: 1000px;
}
.tablediv {
  margin-top: 10px;
  margin-left: 10px;
}
table,
td,
th {
  border: 1px solid;
  padding: 8px;
}
th {
  background-color: #215f8b;
  color: #ffffff;
  text-align: center;
}
td {
  text-align: start;
  font-size: 12px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.searchbardiv {
  float: right;
}
.footer {
  margin-top: 10px;
  float: right;
  gap: 10px;
  margin-right: 20px;
}
.b1 {
  margin-right: 10px;
}
.b2 {
  margin-right: 10px;
}
.b3 {
  margin-right: 10px;
}
.button {
  background-color: #215f8b;
  color: white;
  text-align: center;
  border: none;
}
.editfooter {
  margin-top: 50px;
}
.editheader {
  color: white;
  background-color: #215f8b;
  padding: 5px;
}
.edit {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
